commands:
  01_rm_textract:
    command: "rm -r ~/textract/"
  02_get_textract:
      command: "git clone https://github.com/JaredJRoss/textract.git ~/textract"
      leader_only: true
  03_install_textract:
      command: "sudo /opt/python/run/venv/bin/python ~/textract/setup.py install"
      leader_only: true
  04_updatepip:
      command: "/opt/python/run/venv/bin/pip install --upgrade pip"
container_commands:
  02_install_afterupgrade:
      command: "/opt/python/run/venv/bin/pip install cryptography"
  05_devtools:
      command: "sudo yum groupinstall -y 'Development Tools' install openssl-devel* zlib*.x86_64"
  06_collectstatic:
      command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py collectstatic --noinput"
  07_createsu:
      command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py createsu"
  08_nltk:
      command: "/opt/python/run/venv/bin/python -m nltk.downloader punkt stopwords"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pmi_alpha.settings"
    PYTHONPATH: "/opt/python/current/app/pmi_alpha:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pmi_alpha/pmi_alpha/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

packages:
  yum:
    git: []
    mysql: []
    mysql-server: []
    gcc: []
    gcc-c++: []
    zlib-devel: []
    openssl-devel: []
    bzip2-devel: []
    atlas: []
    atlas-devel: []
    atlas-sse3: []
    atlas-sse3-devel: []
    gcc-gfortran: []
    libxml2-devel: []
    libxslt-devel: []
    ImageMagick-devel: []
