container_commands:
  01_updatepip:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
  02_install_afterupgrade:
      command: "/opt/python/run/venv/bin/pip install cryptography"
  03_install_rest_of_requirements:
      command: "/opt/python/run/venv/bin/pip install -r test.txt"
  04_get_textract:
      command: "git clone https://github.com/JaredJRoss/textract.git"
      leader_only: true
  05_install_textract:
      command: "/opt/python/run/venv/bin/python textract/setup.py install"
  0_devtools:
    command: "sudo yum groupinstall -y 'Development Tools' install openssl-devel* zlib*.x86_64"
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py collectstatic --noinput"
  04_createsu:
    command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py createsu"
  05_nltk:
    command: "/opt/python/run/venv/bin/python -m nltk.downloader punkt stopwords"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pmi_alpha.settings"
    PYTHONPATH: "/opt/python/current/app/pmi_alpha:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pmi_alpha/pmi_alpha/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

packages:
  yum:
    git: []
    mysql: []
    mysql-server: []
    gcc: []
    gcc-c++: []
    zlib-devel: []
    openssl-devel: []
    bzip2-devel: []
    atlas: []
    atlas-devel: []
    atlas-sse3: []
    atlas-sse3-devel: []
    gcc-gfortran: []
    libxml2-devel: []
    libxslt-devel: []
    ImageMagick-devel: []
